;============================================================================
BoJack OS Polybar
;===========================================================================
[global/wm]
;Used for top and bottom aligned bars
margin-bottom = 0
margin-top = 0

[colors]
background = #000
background-wm = #444
background-alt = ##2d2d2d
foreground = #fff
foreground-alt = #555
primary = #3c71ea

[settings]
;throttle settings lets the eventloop swallow up til X events if they happen
;within Y millisecond after first event was received. This is done to prevent
;flood of update event.
throttle-output = 5
throttle-output-for = 10
throttle-input-for = 30
screenchange-reload = false

[bar/bojack]
;monitor Information
monitor = HDMI-2
monitor-fallback =

;bar location
bottom = true
fixed-center = true

;bar dimensions (pixel ex 35) or (percentage ex 35%)
;NOTE: Only change if you know how
width = 100% 
height = 30
radius = 0.0

;bacground ARGB color
background = ${colors.background}
foreground = ${colors.foreground}

;fonts are defined using <font-name>;<vertical-offset>
font-0 = "FontAwesome:size=10;0"
font-1 = "Font Awesome 5 Free:style=Regular:pixelsize=8;1"
font-2 = "Font Awesome 5 Free:style=Solid:pixelsize=8;1"
font-3 = "Font Awesome 5 Brands:pixelsize=8;1"


;modules are added to the blocks. This is how each thing is separated
modules-left = powermenu i3
modules-center = weather youtube
modules-right = temperature date

;module configs
separator =   
spacing = 
dim-value = 0

padding = 0
module-margin-left = 0
module-margin-right = 2

;offset x and y
offset-x = 0
offset-y = 0
dpi-x = 0
dpi-y = 0

;tray configs NOTE: Only change if you know why
;list of tray positions: left, center, right, none. Center position will overight center module 
tray-position = left
tray-padding = 1
tray-maxsize = 16
tray-scale = 1.0

;tray background. By default the tray container will use the bar background color
tray-background = ${color.background}

[module/i3]
type = internal/i3

pin-workspaces = true
strip-wsnumbers = true
index-sort = false
enable-scroll = false

format = <label-state>
format-padding-right = 2

label-unfocused-foreground = #8a7f8f
label-unfocused-padding = 1

label-focused-foreground = #c16772
label-focused-padding = 1

label-urgent-foreground = #e4b226
label-urgent-padding = 1

[module/temperature]
type = internal/temperature
interval = 5

; Thermal zone to use
; To list all the zone types, run 
; $ for i in /sys/class/thermal/cooling_device*; do echo "$i: $(<$i/type)"; done
; Default: 0
cooling_device = 0

; Full path of temperature sysfs path
; Use `sensors` to find preferred temperature source, then run
; $ for i in /sys/class/hwmon/hwmon*/temp*_input; do echo "$(<$(dirname $i)/name): $(cat ${i%_*}_label 2>/dev/null || echo $(basename ${i%_*})) $(readlink -f $i)"; done
; to find path to desired file
; Default reverts to thermal zone setting
hwmon-path = /sys/devices/platform/coretemp.0/hwmon/hwmon0/temp2_input

; Base temperature for where to start the ramp (in degrees celsius)
; Default: 0
base-temperature = 20

; Threshold temperature to display warning label (in degrees celsius)
; Default: 80
warn-temperature = 60

[module/date]
type = internal/date
interval = 1.0
date = %m-%d-%Y%
time = %H:%M
label = %date% %time%
label-font = 3
;label-foreground = 

[module/weather]
type = custom/script
intervel = 600
exec = ~/.config/polybar/scripts/openweathermap-simple.sh

;[module/poweroff]
;type = custom/text
;content = 
;content-foreground = ${colors.foreground}
;click-left = powermenu
;;The script above is to be found here : https://github.com/ngynLk/scripts
;content-padding = 2

[module/powermenu]
type = custom/menu

expand-right = true

format-spacing = 1
format-margin = 0
format-background = ${colors.background}
format-foreground = ${colors.foreground}
format-padding = 2

label-open = 
label-close = 
label-separator = |

; reboot
menu-0-1 = 
menu-0-1-exec = menu-open-2
; poweroff
menu-0-2 = 
menu-0-2-exec = menu-open-3
; logout
menu-0-0 = 
menu-0-0-exec = menu-open-1

menu-2-0 = 
menu-2-0-exec = reboot

menu-3-0 = 
menu-3-0-exec = poweroff

menu-1-0 = 
menu-1-0-exec = i3-msg exit || openbox --exit
